extends layout

block content
  h1 GG4ME
  p.lead Jouer en apprenant
  hr
  .row
    .col-sm-6
      h2 Math Chrono
      p Testez votre rapidité
      p
        a.btn.btn-default(href='/games/math2', role='button') Jouer »
    .col-sm-6
      
    .col-sm-6
      
    .col-sm-6
      